body{
  margin: 0px;
  font-family: 'Montserrat';
 
}


.loginButton{
 color: white !important;
 font-family: 'Montserrat' !important;
 position: relative !important;
 overflow: hidden !important;

}

.profile {
  position:  relative;
  height: 30% !important;
  width: 50% !important;
  margin: 20px !important;
  text-align: center !important;
}

.portal {
  margin-top: 60px;
}

header { 
  opacity: 0.7;
}








